Django==4.2.2
  - asgiref [required: >=3.6.0,<4, installed: 3.7.2]
  - sqlparse [required: >=0.3.1, installed: 0.4.4]
  - tzdata [required: Any, installed: 2023.3]
pip==22.3.1
pipdeptree==2.9.3
pipreqs==0.4.13
  - docopt [required: Any, installed: 0.6.2]
  - yarg [required: Any, installed: 0.1.9]
    - requests [required: Any, installed: 2.31.0]
      - certifi [required: >=2017.4.17, installed: 2023.5.7]
      - charset-normalizer [required: >=2,<4, installed: 3.1.0]
      - idna [required: >=2.5,<4, installed: 3.4]
      - urllib3 [required: >=1.21.1,<3, installed: 2.0.3]
setuptools==65.5.0
